@page "/coach/edit/{coachId:int}"
@inject HttpClient http
@inject NavigationManager uriHelper
@inject IJSRuntime js
<h3>Edytuj: </h3>
<Form ButtonText="Update" coach="coach"
      OnValidSubmit="@EditExistingCoach" />
@code {
    [Parameter] public int coachId { get; set; }
    Coach coach= new Coach();
    protected async override Task OnParametersSetAsync()
    {
        coach = await http.GetFromJsonAsync<Coach>($"api/coach/{coachId}");
    }
    async Task EditExistingCoach()
    {
        await http.PutAsJsonAsync("api/coach", coach);
        await js.InvokeVoidAsync("alert", "Pomyślnie zapisano zmiany!");
        uriHelper.NavigateTo("coach");
    }
}