@page "/coach/create"
    @inject HttpClient http
    @inject NavigationManager uriHelper

    <h3>Dodaj nowego trenera</h3>
    <Form ButtonText="Dodaj trenera" coach="@coach"
          OnValidSubmit="@CreateNewCoach" />

    @code {
        Coach coach = new Coach();
        async Task CreateNewCoach()
        {
            await http.PostAsJsonAsync("api/coach", coach);
            uriHelper.NavigateTo("coach");
        }
    }
